@font-face {
    font-family: 'Vazir-thin';
    src: url(../asset/fonts/Vazir-Thin-FD.ttf) format('truetype'),
        url(../asset/fonts/Vazir-Thin-FD.woff) format('woff'),
        url(../asset/fonts/Vazir-Thin-FD.woff2) format('woff2');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Vazir-medium';
    src: url(../asset/fonts/Vazir-Medium-FD.ttf) format('truetype'),
        url(../asset/fonts/Vazir-Medium-FD.woff) format('woff'),
        url(../asset/fonts/Vazir-Medium-FD.woff2) format('woff2');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Vazir-bold';
    src: url(../asset/fonts/Vazir-Bold-FD.ttf) format('truetype'),
        url(../asset/fonts/Vazir-Bold-FD.woff) format('woff'),
        url(../asset/fonts/Vazir-Bold-FD.woff2) format('woff2');
        font-weight: normal;
        font-style: normal;
}

p, a, h1, h2, h3, h4, h5, h6, input {
    font-family: 'Vazir-medium';
}
header > :nth-child(1) {
    background-color: #272727;
}
header > :nth-child(2) {
    background-color: rgba(39, 39, 39, 0.6);
}
#top-row {
    height: 60px;
    background-color: #272727;
}
#top-row .col-2 p {
    line-height: 60px;
    color: white;
}
#top-row .col-8 {
    text-align: center;
}
#top-row .col-8 .logo-state {
    width: 120px;
    height: 100%;
    margin: auto;
    position: relative;
}
.back-logo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 70%;
    margin-top: 15px;
    border-radius: 20px;
}
.site-logo {
    width: 100%;
    height: 100%;
    background-image: url('../asset/images/site-logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.social-frame {
    position: absolute;
    left: 0px;
    width: 160px;
    height: 100%;
    background-color: white;
    border-radius: 0 30px 30px 0;
    text-align: left;
}
.social-frame a {
    font-size: 35px;
    line-height: 70px;
    margin-left: 10px;
    color: rgb(39, 39, 39);
}
.social-frame a:hover {
    opacity: 50%;
}
#bottom-row nav {
    text-align: right;
}
#bottom-row nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#bottom-row nav ul li {
    display: inline-block;
}
#bottom-row nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    line-height: 60px;
    display: block;
    font-size: 16px;
}
#bottom-row nav ul li a:hover {
    color: #FFE400;
}
#bottom-row .search-frame {
    width: 100%;
    height: 36px;
    margin-top: 11px;
    background-color: white;
    border-radius: 8px;
    text-align: right;
    position: absolute;
    box-sizing: border-box;
}
.search-box {
    width: 75%;
    height: 70%;
    top: 5px;
    right: 5px;
    display: inline-block;
    position: absolute;
    border: none;
    background: none;
    outline: none;
}
#header-search-icon {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 2px;
}
#header-search-icon button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #c0aaaa;
    font-size: 25px;
}
#header-search-icon button:hover {
    color: black;
}
.main-section > section {
    margin-top: 10px;
}
.section-01 .row {
    height: 500px;
}
.section-01 .row > .col-3 {
    overflow: hidden;
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 20px;
}
.section-01 .right-sidebar {
    width: 100%;
    height: 460px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}
.section-01 .row .col-9 > .slider-01  {
    width: 100%;
    height: 360px;
}
.section-01 .row .col-9 > .info-01 {
    background-color: rgba(39, 39, 39, 0.6);
    width: 100%;
    height: 120px;
    margin-top: 20px;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}
#up-direct {
    width: 100%;
    height: 20px;
    background-color: blue;
}
#bottom-direct {
    width: 100%;
    height: 20px;
    background-color: yellow;
}
#titr-slider {
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
}
#titr-slider ul {
    width: auto;
    height: auto;
}
#titr-slider li {
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
}
#titr-slider li:hover {
    box-shadow: 0 0 15px white;
    border-radius: 10px;
}
#titr-slider ul li > div {
    background-color: rgba(39, 39, 39, 0.4);
    width: 203px;
    height: 105px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
#titr-slider ul li div > h2 {
    color: white;
    text-align: right;
    font-family: 'Vazir-bold';
    font-size: 20px;
    width: fit-content;
    display: inline-block;
    position: relative;
    top: 10px;
    right: -20%;
}
#titr-slider p {
    width: 189px;
    height: 51px;
    font-family: 'Vazir-thin';
    font-size: 14px;
    color: white;
    background-color: rgba(39, 39, 39, 0.6);
    text-align: right;
    line-height: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2px;
    display: inline-block;
    position: relative;
    top: 20px;
}
#top-div {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    text-align: center;
}
#top-div i {
    margin-top: 5px;
}
#down-div {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
#down-div i {
    margin-bottom: 1px;
}
#top-div i:hover ,#down-div i:hover {
    color: white;
}
.slidershow {
    width: 700px;
    height: 360px;
    background-color: red;
    overflow: hidden;
    position: relative;
}
.navigation {
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 20px;
}
.bar {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {
    background-color: white;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slide {
    width: 20%;
    transition: 0.4s;
    position: relative;
}
.slide img {
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1 {
    margin-right: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}
.slide-front-dark {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.2);
    position: absolute;
    top: 0;
}
.slideshow-info-text {
    background-color: rgba(39, 39, 39, 0.6);
    width: 100%;
    height: 87px;
    position: absolute;
    bottom: 10px;
}
.slideshow-info-text > div {
    width: 100%;
    height: 100%;
}
.slideshow-info-text > div > h2 {
    color: white;
    font-family: 'Vazir-bold';
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    transition: 0.5s;
}
.slideshow-info-text > div > h2:hover {
    border-bottom: 2px solid white;
}
.slideshow-info-text > div > p {
    position: absolute;
    width: 374px;
    left: 10px;
    line-height: 24px;
    font-family: 'Vazir-thin';
    border-right: 2px solid gray;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 0;
    color: white;
    margin-top: 6px;
    font-size: 14px;
}
.slideshow-info-text > div > p:hover {
    border-right: 2px solid white;
}
#right-div-info {
    position: absolute;
    width: 485px;
    height: 100%;
    right: 0;
    box-sizing: border-box;
    padding: 15px;
    color: white;
}
#right-div-info h2 > span > a {
    color: orange;
    font-size: 20px;
    text-decoration: none;
}
#right-div-info h2 > span > a:hover {
    color: #ffe400;
}
#right-div-info p {
    font-family: 'Vazir-thin';
    line-height: 20px;
    margin-top: 10px;
    text-align: justify;
}
#left-div-info {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
}
#left-div-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    background-color: rgba(39, 39, 39, 0.6);
    height: 350px;
    margin-top: 130px;
    position: relative;
    box-sizing: border-box;
}
.info-top-div {
    height: 128px;
    position: relative;
}
.info-card {
    width: 229px;
    height: 206px;
    background-color: white;
    box-shadow: 0 0 10px #a2a2a2;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}
.info-top-div > :nth-child(1) {
    right: 39px;
}
.info-top-div > :nth-child(2) {
    right: 50%;
    transform: translate(50% , 0%);
}
.info-top-div > :nth-child(3) {
    left: 39px;
}
.corner-image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -22px;
    right: -22px;
    border-radius: 50%;
}
.corner-image > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}
#right-corner-image {
    background-image: url('../asset/images/amico.svg');
}
#center-corner-image {
    background-image: url('../asset/images/pana.svg');
}
#left-corner-image {
    background-image: url('../asset/images/cute.svg');
}
.info-card > h2, .info-card > p {
    color: black;
}
.info-card > h2 {
    margin-right: 60px;
    margin-top: 20px;
    font-family: 'Vazir-bold';
    font-size: 20px;
}
.info-card p { 
    margin-top: 30px;
    text-align: justify;
    font-family: 'Vazir-thin';
    line-height: 22px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 300px;
}
.info-bottom-div {
    width: 100%;
    height: 180px;
    margin-top: 27px;
    display: flex;
    justify-content: center;
}
.bottom-card {
    width: 220px;
    height: 100%;
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bottom-info-back-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#img-bt-01 {
    background-image: url('../asset/images/image-01.svg');
}
#img-bt-02 {
    background-image: url('../asset/images/image-02.svg');
}
#img-bt-03 {
    background-image: url('../asset/images/image-03.svg');
}
#img-bt-04 {
    background-image: url('../asset/images/image-04.svg');
}
.bottom-info-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(39, 39, 39, 0.6);
    border-radius: 8px;
    transition: 0.5s;
    visibility: hidden;
}
.bottom-card:hover .bottom-info-text {
    width: 100%;
    height: 100%;
    visibility: visible;
}
.bottom-info-text h2 {
    font-family: 'Vazir-bold';
    font-size: 20px;
    margin-top: 50px;
    color: white;
}
.bottom-info-text p {
    font-family: 'Vazir-thin';
    font-size: 14px;
    margin-top: 15px;
    color: white;
}
.bottom-info-text button {
    background-color: blue;
    padding: 5px;
    width: 150px;
    font-family: 'Vazir-bold';
    border-radius: 8px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    transition: 0.5s;
    border: none;
}
.bottom-info-text button:hover {
    background-color: white;
    color: blue;
}
.about-frame {
    width: 700px;
    height: 380px;
    background-color: rgba(39, 39, 39, 0.6);
    margin: 10px auto 0;
    border-radius: 45px;
    text-align: center;
    position: relative;
}
.about-frame > #about-image {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0,-50%);
    border-radius: 50%;
    background-image: url('../asset/images/about.svg');
}
.about-frame > #about-info {
    width: 420px;
    height: 344px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0,-50%);
    border-radius: 45px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
#about-info > h3 {
    font-family: 'Vazir-bold';
    font-size: 30px;
    margin: 20px;
}
#about-info > p {
    font-family: 'Vazir-thin';
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    position: relative;
}
.image-icon-text-frame {
    width: 100%;
    height: 250px;
    margin: 20px 0 20xpx;
    display: flex;
    justify-content: center;
}
.image-icon-text-child {
    background-color: rgba(39, 39, 39, 0.6);
    text-align: center;
    margin: 0 10px;
    padding: 15px;
    box-sizing: border-box;
    color: white;
}
.image-icon-text-child:hover i {
    transform:rotateY(360deg)scale(1.3,1.3);
    background-color: rgba(39, 39, 39, 0.6);
    border-radius: 50%;
    padding: 10px;
}
#rb-image-icon, #lb-image-icon {
    width: 220px;
    height: 100%;
}
#cb-image-icon {
    width: 300px;
    height: 100%;
}
.image-icon-text-child > i {
    font-size: 50px;
    margin-top: 20px;
    transition: 1s;
}
.image-icon-text-child > h3 {
    font-family: 'Vazir-bold';
    font-size: 16px;
    margin: 20px;
}
.image-icon-text-child > p {
    line-height: 20px;
    font-family: 'Vazir-thin';
    text-align: justify;
    font-size: 15px;
}
.section-04 {
    margin-bottom: 20px;
}
footer {
    height: 190px;
    background-color: #272727;
    box-sizing: border-box;
}
.footer-top-div div {
    text-align: right;
    box-sizing: border-box;
}
.footer-top-div ul {
    list-style: none;
    padding-top: 5%;
    padding-right: 20%;
}
.footer-top-div ul li {
    width: fit-content;
}
.footer-top-div ul li a {
    color: white;
    width: fit-content;
    text-decoration: none;
    line-height: 25px;
}
.footer-top-div ul li:hover a {
    color: #FFE400;
}
.footer-bottom-div {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px 0;
    text-align: center;
}
.footer-bottom-div a {
    text-decoration: none;
    margin: 0 5px;
    padding: 5px;
    box-sizing: border-box;
}
.footer-bottom-div a:hover i {
    color: #FFE400;
}
.footer-bottom-div a i {
    color: white;
    font-size: 30px;
    line-height: 50px;
}